{{!-- {
    _id: '6451109f8011e24e500bbe41',
    senderId: '6451109b8011e24e500bbe35',
    recipientId: '6451109f8011e24e500bbe36',
    message: 'I am the service provider you are looking for!',
    timeStamp: '2023-05-02T13:31:02.778Z'
  }  --}}
  <div class = "messagePage">
  <div class="messageSection">
  {{#each messages}}
  
    <div class="message" id = "message" onclick="ClickMessage(this)">
      {{#if sender}}
        <p> message to {{recieverName}}</p>

      {{else}}
        <p> message from {{senderName}}</p>
      {{/if}}

        <p id = "desc" >{{message}}</p>
        <p>{{timeStamp}}</p>
    
     {{!-- <a href="#mmodal">Reply</a>
	
	<div id="mmodal" class="mmodal">
		<div class="mmodal-content">
			<span class="close">&times;</span>
			<h2>Reply</h2>
      <form method = "POST" action ='/home/messages/'>
        <input type="text" placeholder="Enter your message" name = "message" id = "message"><br><br>
        <input type="hidden" name = "recieverId" id = "recieverId" value = "{{senderId}}">
        <input type="submit" value="Send" id = "send-btn">
      </form>
			
		</div>
	</div> --}}
  <div class="dropdown">
  <button class="dropbtn">Reply</button>
  <p>{{messageStatus}}</p>
  <div class="dropdown-content">
     <form method = "POST" action ='/home/messages/'>
        <input type="text" placeholder="Enter your message" name = "message" id = "message"><br><br>
        <input type="hidden" name = "recieverId" id = "recieverId" value = "{{senderId}}">
        <input type="submit" value="Send" id = "send-btn">
      </form>
  </div>
</div>
  </div>
    {{/each}}
</div>
</p>
</div>
</div>