
<div class="container">
    <h1>Edit Your Profile</h1>
    
    <div class="profile-details">
     <div class="profile-img-box"> 
        {{#if objectUser.imageData}}
                    <img
                      src={{objectUser.imageData}}
                      class="img-radius"
                      id="myImage"
                      alt="User-Profile-Image"
                      width="200"
                      height="200"
                    >
                  {{else}}
                    <img
                      src="/public/images/No_User.jpg"
                      class="card-img-top"
                      alt="..."
                    >
                  {{/if}}
      </div>
      <div class="result">
        <form id="myprofile-edit" action="/home/myprofile/{{userID}}/edit" method="POST" enctype="multipart/form-data">
        <h2>Role: {{objectUser.role}}</h2>
        {{#if Error}} <p class="alert alert-danger">{{Error}}</p>{{/if}}
        {{#if Message}}<p class="alert alert-success" id="success">{{Message}}</p>{{/if}}
        <div id="error" class="alert alert-danger" role="alert" hidden></div>
        <p><strong>Accepted image types:</strong> .jpg, .jpeg, .png</p>
        <label for="myImageInput">User Image</label>
        <input type="file" id="myImageInput" name="image" multiple class="form-control-file border"><br>
        <label for="firstNameInput">First Name<span class="required">*</span></label>
        <input type="text" name="firstName" id="firstNameInput" value="{{objectUser.firstName}}">
        <label for="lastNameInput">Last Name<span class="required">*</span></label>
        <input type="text" name="lastName" id="lastNameInput" value="{{objectUser.lastName}}">
        <label for="bioInput">Bio</label>
        <textarea id="bioInput" name="bio" placeholder="Enter a bio to share with the community! (5000 character limit)">{{objectUser.bio}}</textarea>
        <label for="dob">Date of Birth<span class="required">*</span></label>
          <input type="date" class="form-control" id="dob" name="dob" value="{{objectUser.dob}}" required>
        <label for="emailAddressInput">Email Address<span class="required">*</span></label>
        <input type="email" id="emailAddressInput" name="email" value="{{objectUser.emailAddress}}">
        <label for="phoneNumberInput">Phone Number<span class="required">*</span></label>
        <input type="tel" id="phoneNumberInput" name="phoneNumber" value="{{objectUser.phoneNumber}}">
        <label for="zipInput">Zip Code<span class="required">*</span></label>
        <input type="tel" id="zipInput" name="zip" maxlength="5" value="{{objectUser.location_zip_code}}">
        <label for="cityInput">City<span class="required">*</span></label>
        <input type="text" name="city" id="cityInput" value="{{objectUser.location_city}}">
        <label for="stateInput">State<span class="required">*</span></label>
        <input type="text" name="state" id="stateInput" maxlength="2" value="{{objectUser.location_state}}">
        <label for="categoryInput">Categories (One or more, up to four):</label>
        <input type="text" id="categoryInput" list="category-options" placeholder="Enter a category">
        <div class="category-container">
          {{#if notnull}}
          {{#each objectUser.categories}}
          <div class="category-box">
          <span class="category-name">{{this}}</span>
          <span class="delete-button">x</span>
          </div>
          {{/each}}
          {{/if}}
        </div>
        <input type="hidden" name="categorydata" id="categorydata">
        <button type="button" id="addCategoryButton">Add</button>
        <button type="submit">Save Changes</button>
</form>
      </div>
    </div>