<h1>Welcome to Your Home Page!</h1>
<p class="error" id="success">{{#if Message}}{{Message}}{{/if}}</p>
    <p class="about">Check out our latest job posts:</p>
    <a href="/providers" class="see-all">See All Job Providers</a>
    <br>
    <a href="/post/createPost" class="create-post">Want to get something done?</a>
    <br>
    <a href="/post/createJob" class="create-job">Want a job?</a>
    <br>
    <div class="post-list-container">
      {{#each posts}}
        <div class="post-list-box" onclick="location.href='{{_id}}';">
        <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 1 Image"></div>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        </div>
         
      {{/each}}
      {{#if comment}}
            <div class="post-comment">
            <p>comment : {{comment}}</p>
          </div>
        {{/if}}


</div>
<br>
<a href="/home/provideList" class="see-all">See All Job Providers</a>
<br>
{{!-- <a href="/login" class="see-all">login/sigup</a> --}}