<h1>Welcome to Your Home Page!</h1>
<p class="error" id="success">{{#if Message}}{{Message}}{{/if}}</p>
    <p class="about">Check out our latest job posts:</p>
    <div class="post-list-container">
      {{#each posts}}
        <div class="post-list-box" onclick="location.href='post1.html';">
        <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 1 Image"></div>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        </div>
      {{/each}}
  {{!-- <div class="post-list-box" onclick="location.href='post1.html';">
    <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 1 Image"></div>
    <h2>{{posts.title}} postTitle</h2>
    <p>{{posts.description}}postDescription</p>
  </div> --}}


</div>
<br>
<a href="/home/provideList" class="see-all">See All Job Providers</a>
<br>
{{!-- <a href="/login" class="see-all">login/sigup</a> --}}