<h1>Welcome to Your Home Page!</h1>
<p class="error" id="success">{{#if Message}}{{Message}}{{/if}}</p>
    <p class="about">Check out our latest job posts:</p>
    <a href="/home/provideList" class="see-all">See All Job Providers</a>
    <br>
    <div class="filter-button">
            <h3>Filter: </h3>
            <form method="post" action = "/post/filter" id="filter-form" >
            <select name="filter" id="filterInput">
              <option value="provider">Job Provider</option>
              <option value="seeker">Job Seeker</option>
              <option value="all">Get All</option>
            </select>
            <button type="submit" id="find">Find</button>
            </form>

             {{#each posts}}
        {{!-- <div class="post-list-box" onclick="location.href='/{{_id}}';"> --}}
        <div class="post-list-box" data-id="{{_id}}">
        <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 1 Image"></div>
        {{!-- <p>{{_id}} id</p> --}}
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        </div>
         
      {{/each}}
      {{#if comment}}
            <div class="post-comment">
            <p>comment : {{comment}}</p>
          </div>
        {{/if}}
      </div>
    <br>
    <a href="/post/newPost/createPost" class="create-post">Create a job posting!</a>
    <br>
    