<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="">
        {{#if Error}} <p class="alert alert-danger">{{Error}}</p>{{/if}}
        {{#if Message}}<p
            class="alert alert-success"
            id="success"
          >{{Message}}</p>{{/if}}
        <h1>Your Profile</h1>
        <h2>hello</h2>
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  {{#if objectUser.imageData}}
                    <img
                      src={{objectUser.imageData}}
                      class="img-radius"
                      alt="User-Profile-Image"
                      width="200"
                      height="200"
                    >
                  {{else}}
                    <img
                      src="/public/images/No_User.jpg"
                      class="card-img-top"
                      alt="..."
                    >
                  {{/if}}
                </div>
                {{#if objectUser.firstName}}<h3
                    class="f-w-600"
                  >{{objectUser.firstName}}
                    {{objectUser.lastName}}</h3>{{/if}}
                {{#if objectUser.role}}<p>{{objectUser.role}}</p>{{/if}}
                <i
                  class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"
                ></i>
                <button id="shareBtn">share your profile :
                  <i class="fas fa-share"></i></button>
                <div id="shareModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Select a platform to share:</p>
                    <ul id="platformList">
                      <li data-platform="facebook" class="fab fa-facebook"></li>
                      <li data-platform="whatsapp" class="fab fa-whatsapp"></li>
                      <li data-platform="twitter" class="fab fa-twitter"></li>
                      <li data-platform="telegram" class="fab fa-telegram"></li>
                      <li data-platform="linkedin" class="fab fa-linkedin"></li>
                      <li data-platform="reddit" class="fab fa-reddit"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-8">

              <div class="card-block">
                <h4 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h4>
                <div class="row">
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Name:</h5>
                    {{#if objectUser.firstName}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.firstName}}
                        {{objectUser.lastName}}</h6>{{/if}}
                  </div>
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Email:</h5>
                    {{#if objectUser.emailAddress}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.emailAddress}}</h6>{{/if}}
                  </div>
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Date of Birth:</h5>
                    {{#if objectUser.dob}}<h6 class="text-muted f-w-400">{{objectUser.dob}}</h6>{{/if}}
                  </div>
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Phone Number:</h5>
                    {{#if objectUser.phoneNumber}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.phoneNumber}}</h6>{{/if}}
                  </div>
                </div>
              </div>

              <div class="card-block">
                <div class="row">
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Role:</h5>
                    {{#if objectUser.role}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.role}}</h6>{{/if}}
                  </div>
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Bio</h5>
                    {{#if objectUser.bio}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.bio}}</h6>{{/if}}
                  </div>
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Joining Date:</h5>
                    {{#if objectUser.joiningDate}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.joiningDate}}</h6>{{/if}}
                  </div>
                </div>
              </div>

              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Location</h6>
                <div class="row">
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">City:</h5>
                    {{#if objectUser.location_city}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.location_city}}</h6>{{/if}}
                  </div>
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">State:</h5>
                    {{#if objectUser.location_state}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.location_state}}</h6>{{/if}}
                  </div>
                  <div class="col-sm-3">
                    <h5 class="m-b-10 f-w-600">Zipcode:</h5>
                    {{#if objectUser.location_zip_code}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.location_zip_code}}</h6>{{/if}}
                  </div>
                </div>
              </div>

              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Categories</h6>
                <div class="row">
                  <div class="col-sm-3">
                    {{#if objectUser.categories}}<h6
                        class="text-muted f-w-400"
                      >{{objectUser.categories}}</h6>{{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{#if objectUser._id}}
  <a
    href="http://localhost:3000/user/reviews/{{objectUser._id}}/allReviews"
  >View all reviews:</a>{{/if}}
{{!-- <a href="/home/myprofile/{{userID}}/edit" class="edit-button">Edit</a> --}}
{{#if userID}}
  <p> <a href="/home/myprofile/{{userID}}/edit">Edit</a></p>
{{/if}}