
<h1>Welcome to Our post Page!</h1>
    {{!-- <p class="about">Check out our latest job posts:</p> --}}
    <div class="post-list-container">
      {{#if post.userId}}
          <p><a href="/profile/{{post.userId}}" class="btn btn-primary">View profile!</a></p>
          {{/if}}
        <div class="post-list-box">
          
        <div class="post-list-img-box">
          {{#if post.images}}
          <img src={{post.images}} alt="Post 1 Image" />
        {{else}}
          <img
            src="../public/images/No_Image_Available.jpg"
            alt="Post 1 Image"
          />
        {{/if}}
          </div>
        <h2>{{post.title}}</h2>
        <p>{{post.description}}</p>
        </div>

      {{#if comms}}
        {{#each comms}}
            <div class="post-comment">
                <p><a href = "/comment/profile/{{_id}}"> {{userFirstName}} {{userLastName}}</a> : {{comment}}
                {{#if canDelete}}
                <a href="/post/{{_id}}/deleteComment" id="delete-comment"> Delete</a>
                {{/if}}
            </div>
        {{/each}}
      {{/if}}
        <div> {{interestCount}} people are interested in this project!</div>
        <div class="comment-box">
            <form method="post" action = "/post/{{post._id}}/comment" id="comment-form" >
            <label>Add comment</label>
            <input = "text" placeholder="Comment" name="postCommentInput" id="postCommentInput" maxlength="250">
            <input type="submit" value="post">
            </form>
        </div>
        {{#if notAuthor}}
        {{#unless alreadyProspect}}
        <div class="interested-button">
          <form method="post" action = "/post/{{post._id}}/interested" id="interested-form" >
            <label>Interested?</label>
            <button type="submit" id="submit">click here</button>
            </form>
        </div>
        {{/unless}}
        {{/if}}
      {{#if isAuthor}}
      <form method="POST" action="/post/{{post._id}}/selectProspect">
        <div class="dropdown">
          <select name ="prospects" class="grey-text">{{!id="prospects"}}
            <option selected disabled>Choose the right fit for the job!</option>
            {{#each prospects}}
            <option value="{{userId}}">{{firstName}} {{lastName}}</option>
            {{/each}}
          </select>
          <button type="submit">Here we go!</button>
        </div>
      </form>
      {{/if}}
    </div>

  <div class="dropdown">
  <button class="dropbtn">Reply</button>
    <div class="dropdown-content">
      <form method = "POST" action ='/home/messages/'>
        <input type="text" placeholder="Enter your message" name = "message" id = "message"><br><br>
        <input type="hidden" name = "recieverId" id = "recieverId" value = "{{senderId}}">
        <input type="submit" value="Send" id = "send-btn">
      </form>
    </div>
  </div>

<footer class="bottom-bar">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a href="/home/provideList" class="see-all">See All Job Providers</a></li>
        <li class="nav-item"><a href="/seekers" class="see-all">See All Job Seekers</a></li>
      </ul>
    </div>
  </nav>
</footer>