
<h1>Welcome to Our post Page!</h1>
  
    <div class="post-list-container">
       {{#if Error}} <p class="alert alert-danger">{{Error}}</p>{{/if}}
        {{#if Message}}<p
            class="alert alert-success"
            id="success"
          >{{Message}}</p>{{/if}}
      {{#if post.userId}}
          <p><a href="/profile/{{post.userId}}" class="btn btn-primary">View profile!</a></p>
          {{/if}}
        <div class="post-list-box">
          
        <div class="post-list-img-box">
          {{#if post.images}}
          <img src={{post.images}} alt="Post 1 Image">
        {{else}}
          <img
            src="../public/images/No_Image_Available.jpg"
            alt="Post 1 Image"
          />
        {{/if}}
          </div>
        <h2>{{post.title}}</h2>
        <p>{{post.description}}</p>
        </div>

      {{#if comms}}
        {{#each comms}}
            <div class="post-comment">
                <p><a href = "/comment/profile/{{_id}}"> {{userFirstName}} {{userLastName}}</a> : {{comment}}
                <a href="/post/{{_id}}/deleteComment" id="delete-comment"> Delete</a>
            </div>
        {{/each}}
      {{/if}}
        <div> {{interestCount}} people are interested in this project!</div>
        <div class="comment-box">
            <form method="post" action = "/post/{{post._id}}/comment" id="comment-form" >
            <label for="postCommentInput">Add comment</label>
            <input type= "text" placeholder="Comment" name="postCommentInput" id="postCommentInput" maxlength="250">
            <input type="submit" value="post">
            </form>
            <p id = "posterror"></p>
        </div>
        {{#unless isAuthor}}
        <div class="interested-button">
          <form method="post" action = "/post/{{post._id}}/interested" id="interested-form" >
            <label>Interested?</label>
            <button type="submit" id="submit">click here</button>
            </form>
        </div>
        {{/unless}}

       <div id="error" class="alert alert-danger" hidden></div>
      {{#if isAuthor}}
      <form method="POST" action="/post/{{post._id}}/selectProspect" id="selectProspect">
        <div class="dropdown">
          <select name ="prospects" id="prospects" class="grey-text">{{!id="prospects"}}
            <option selected disabled>Choose the right fit for the job!</option>
            {{#each prospects}}
            <option value="{{userId}}">{{firstName}} {{lastName}}</option>
            {{/each}}
          </select>
          <button type="submit">Here we go!</button>
        </div>
      </form>
      {{/if}}
    </div>

  {{#if userId}}<div class="dropdown">
  <button class="dropbtn">Contact:</button>
  <div class="dropdown-content">
    <p>
      {{firstName}} {{lastName}}
    </p>
    <br>
    <p>
      {{email}}
    </p>
    
     <form method = "POST" action ='/home/messages/' id="dm-form">
        <input type="text" placeholder="Enter your message" name = "message" id = "message"><br><br>
        <input type="hidden" name = "recieverId" id = "recieverId" value = "{{userId}}">
        <input type="submit" value="Send" id = "send-btn">
      </form>
      {{/if}}
  </div>

