


{{#if created}}
<header>Here is the project you just created!</header>
<h1>{{title}}</h1>
    
  {{!-- <div class="projects"> --}}
    <h2>{{description}}</h2>
    <p>{{status}}</p>
    <p><a href="/profile/{{assignedToId}}">View Profile</a></p>
  {{!-- </div> --}}
{{/if}}



<div class="me-mb-3">
 {{#if noProjects}}
 <header>Here, you can view all projects you have been involved in!</header>
  <h1>It looks like you aren't yet involved in any projects!</h1>
  <p>Your community awaits you, <a href="/post/newPost/createPost" class="btn btn-primary" id="createPost">click here</a> to make a posting!</p>
{{/if}} 
</div>

<br />
{{!-- {{#if Error}} <p class="alert alert-danger">{{Error}}</p>{{/if}}
{{#if Message}}<p
    class="alert alert-success"
    id="success"
  >{{Message}}</p>{{/if}} --}}

<div class="row">
  {{#if projects}}
    <h1 class="mb-3">Here, you can view all projects you have been involved in!</h1>
    {{#each userProjects.allUserProjects}}
      <div class="col-sm-3">
        <div class="project-list-box" id="projects" data-id="{{_id}}">
          <div class="card" style="width: 18rem;">
            {{#if images}}
              <img src={{images}} class="card-img-top" alt="..." />
            {{else}}
              <img
                src="../public/images/No_Image_Available.jpg"
                class="card-img-top"
                alt="..."
              />
            {{/if}}
            <div class="card-body">
              <h2>{{title}}</h2>
              <p class="card-text">{{description}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>
<a href="/" id="auth">Back</a>