<section id="playgrounds" class="my-4">
   
    <div class="container">
         <h2>Job Provider</h2>

        <p>{{error}}</p>

        <div class="sort-button">
            <form method="post" action = "/home/provideList/sortBy" id="sort-form" >
            <label><span class="required">*</span>Sort: </label>
            <select name="filter" id="filterInput">
              <option value="distance">Distance</option>
              <option value="rating">Rating</option>
              <option value="all">Get All</option>
            </select>
            <button type="submit" id="find">Find</button>
            </form>
        </div>
        <div class="filter-button">
            <form method="post" action = "/home/provideList/searchArea" id="filter-form" >
            <label>Filter using area of search: </label>
            <input type="text" placeholder = "Enter search area in miles: "name ="searchAreaInput" id = "searchAreaInput">
            <button type="submit" id="find">Find</button>
            </form>
        </div>
        <div class="row">
            {{#if userList}}
                {{#each userList}}
            <div class="col-sm-3 ">
                <div class="card" style="width: 18rem;">
                    {{#if imageData}}
                    <img src="{{imageData}}" class="card-img-top" alt="...">
                      {{else}}
                      <img src="/public/images/No_Image_Available.jpg" class="card-img-top" alt="...">
                      {{/if}} 
                    <div class="card-body">
                        <h2 card-title>{{firstName}} {{lastName}}</h2>
                            <p class="card-text">{{location_city}}, {{location_state}}</p>
                            <p><a href="/profile/{{_id}}" class="btn btn-primary">View {{firstName}}'s profile!</a></p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
            

        </div>
    </div>
</section>