{{! <h1>Seekers!</h1>
    <h2>Click on a user's profile to learn more about them!</h2> }}
{{!-- {{#each userList}}
        <div class="seeker">
            <h2>{{firstName}} {{lastName}}</h2>
            <p>{{location_city}}, {{location_state}}</p>
            <p><a href="/profile/{{_id}}">View {{firstName}}'s profile!</a></p>
        </div>
    {{/each}}

    <p>{{error}}</p> --}}
{{! <li><a href="/" id="auth">Back</a></li> }}

<section id="playgrounds" class="my-4">

  <div class="container">
    <h1>Job Seekers</h1>

   {{#if error}} <h2>{{error}}</h2>{{/if}}
    <div class="sort-button">
      <label>Sort: </label>
      <form
        method="post"
        action="/seekers/sortBy"
        id="filter-form"
      >
        <select name="filter" id="filterInput">
          <option value="distance">Distance</option>
          <option value="rating">Rating</option>
          <option value="all">Get All</option>
        </select>
        <button type="submit" id="seekerFilterfind">Find</button>
      </form>
    </div>
    <div class="filter-button">
      <form method="post" action="/seekers/searchArea" id="seeker-filter-form">
        <label for="searchAreaInput">Filter using area of search: </label>
        <input
          type="text"
          placeholder="Enter search area in miles: "
          name="searchAreaInput"
          id="searchAreaInput"
        >
        <button type="submit" id="seekerSearchfind">Find</button>
      </form>
    </div>
    <div class="row">
      {{#if userList}}
        {{#each userList}}
          <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
              {{#if imageData}}
                <img src={{imageData}} class="card-img-top" alt="..." >
              {{else}}
                <img
                  src="/public/images/No_Image_Available.jpg"
                  class="card-img-top"
                  alt="..."
                >
              {{/if}}
              <div class="card-body">
                <h2 card-title>{{firstName}} {{lastName}}</h2>
                <p class="card-text">{{location_city}}, {{location_state}}</p>
                <p><a href="/profile/{{_id}}" class="btn btn-primary">View
                    {{firstName}}'s profile!</a></p>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}

    </div>
  </div>
</section>