
<h1>Seekers</h1>
    
    {{#each userList}}
        <div class="seeker">
            <h2>{{firstName}} {{lastName}}</h2>
            <p>{{location_state}}</p>
            <p><a href="/seeker/{{_id}}">View</a></p>
        </div>
    {{/each}}

    <p>{{error}}</p>
<li><a href="/" id="auth">Back</a></li>